
@{
    ViewBag.Title = "product_category";
}


<div class="our-recipes-area section-space">
    <h2 class="title-color">Product of category</h2>
    <span class="subtitle-color">History of honey company</span> 
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="~/Content/web/img/recipe-box2-1.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="#">Recipe Title Here</a></h3>
                        <p>A wonderful serenity has taken ossession of my entire souls terenity.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <span>20 Mins</span></a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Serving: <span>05 People</span></a></li>
                        </ul>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary" style="border-radius:0px">Add To Cart</a>
                            <a href="#" class="btn btn-success" style="border-radius:0px">Detail More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="~/Content/web/img/recipe-box2-2.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="#">Recipe Title Here</a></h3>
                        <p>A wonderful serenity has taken ossession of my entire souls terenity.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <span>20 Mins</span></a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Serving: <span>05 People</span></a></li>
                        </ul>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary" style="border-radius:0px">Add To Cart</a>
                            <a href="#" class="btn btn-success" style="border-radius:0px">Detail More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="~/Content/web/img/recipe-box2-3.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="#">Recipe Title Here</a></h3>
                        <p>A wonderful serenity has taken ossession of my entire souls terenity.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <span>20 Mins</span></a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Serving: <span>05 People</span></a></li>
                        </ul>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary" style="border-radius:0px">Add To Cart</a>
                            <a href="#" class="btn btn-success" style="border-radius:0px">Detail More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="~/Content/web/img/recipe-box2-1.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="#">Recipe Title Here</a></h3>
                        <p>A wonderful serenity has taken ossession of my entire souls terenity.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <span>20 Mins</span></a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Serving: <span>05 People</span></a></li>
                        </ul>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary" style="border-radius:0px">Add To Cart</a>
                            <a href="#" class="btn btn-success" style="border-radius:0px">Detail More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="~/Content/web/img/recipe-box2-2.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="#">Recipe Title Here</a></h3>
                        <p>A wonderful serenity has taken ossession of my entire souls terenity.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <span>20 Mins</span></a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Serving: <span>05 People</span></a></li>
                        </ul>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary" style="border-radius:0px">Add To Cart</a>
                            <a href="#" class="btn btn-success" style="border-radius:0px">Detail More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="~/Content/web/img/recipe-box2-3.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="#">Recipe Title Here</a></h3>
                        <p>A wonderful serenity has taken ossession of my entire souls terenity.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <span>20 Mins</span></a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Serving: <span>05 People</span></a></li>
                        </ul>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary" style="border-radius:0px">Add To Cart</a>
                            <a href="#" class="btn btn-success" style="border-radius:0px">Detail More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="~/Content/web/img/recipe-box2-1.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="#">Recipe Title Here</a></h3>
                        <p>A wonderful serenity has taken ossession of my entire souls terenity.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <span>20 Mins</span></a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Serving: <span>05 People</span></a></li>
                        </ul>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary" style="border-radius:0px">Add To Cart</a>
                            <a href="#" class="btn btn-success" style="border-radius:0px">Detail More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="~/Content/web/img/recipe-box2-2.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="#">Recipe Title Here</a></h3>
                        <p>A wonderful serenity has taken ossession of my entire souls terenity.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <span>20 Mins</span></a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Serving: <span>05 People</span></a></li>
                        </ul>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary" style="border-radius:0px">Add To Cart</a>
                            <a href="#" class="btn btn-success" style="border-radius:0px">Detail More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="~/Content/web/img/recipe-box2-3.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="#">Recipe Title Here</a></h3>
                        <p>A wonderful serenity has taken ossession of my entire souls terenity.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Time: <span>20 Mins</span></a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Serving: <span>05 People</span></a></li>
                        </ul>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary" style="border-radius:0px">Add To Cart</a>
                            <a href="#" class="btn btn-success" style="border-radius:0px">Detail More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="mypagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div>
</div>