
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <link rel="icon" href="~/Content/web/img/logo.png" sizes="32x32">
    <link rel="apple-touch-icon-precomposed" href="~/Content/web/img/logo.png">
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="~/Content/admin/images/favicon/mstile-144x144.png">

    <link href="~/Content/admin/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/admin/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/admin/css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/admin/css/layouts/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/admin/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/admin/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

</head>

<body class="cyan">
    @RenderBody()
    <script type="text/javascript" src="~/Content/admin/js/plugins/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="~/Content/admin/js/materialize.min.js"></script>
    <!--prism-->
    <script type="text/javascript" src="~/Content/admin/js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="~/Content/admin/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/Content/admin/js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="~/Content/admin/js/custom-script.js"></script>

</body>
</html>




