@{
    ViewBag.Title = "About";
}
<!-- Inner Page Banner Area End Here -->
<!-- About Page Area Start Here -->
<div class="about-page-area">
    <h2 class="title-color">About Us</h2>
    <span class="subtitle-color">History of honey company</span> 
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-page-left">
                    <h2>Our History</h2>
                    <p><span><span>1947</span> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.ex ea commodo consequat.</span></p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quised quia non numquam eius modi tempora incidunt.cia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnisaque ipsquae. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-page-right">
                    <div class="rc-carousel"
                         data-loop="true"
                         data-items="1"
                         data-margin="15"
                         data-autoplay="true"
                         data-autoplay-timeout="10000"
                         data-smart-speed="2000"
                         data-dots="true"
                         data-nav="false"
                         data-nav-speed="false"
                         data-r-x-small="1"
                         data-r-x-small-nav="false"
                         data-r-x-small-dots="true"
                         data-r-x-medium="1"
                         data-r-x-medium-nav="false"
                         data-r-x-medium-dots="true"
                         data-r-small="1"
                         data-r-small-nav="false"
                         data-r-small-dots="true"
                         data-r-medium="1"
                         data-r-medium-nav="false"
                         data-r-medium-dots="true">
                        <div class="about-page-img-holder">
                            <img src="~/Content/web/img/about1-banner1.jpg" class="img-responsive" alt="about1-banner">
                        </div>
                        <div class="about-page-img-holder">
                            <img src="~/Content/web/img/about1-banner2.jpg" class="img-responsive" alt="about1-banner">
                        </div>
                        <div class="about-page-img-holder">
                            <img src="~/Content/web/img/about1-banner1.jpg" class="img-responsive" alt="about1-banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="about-page-bottom">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="about-page-bottom-box border-right wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <i class="flaticon-verified-protection"></i>
                            </a>
                            <div class="media-body">
                                <h3><a href="#">We Are Certified</a></h3>
                                <p>Corem ipsum dolor sit amet, consectetur adipiscing elit. In sed nisl elementumty yer scelerisque posuere neque.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="about-page-bottom-box border-right wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <i class="flaticon-cup"></i>
                            </a>
                            <div class="media-body">
                                <h3><a href="#">Winning Award</a></h3>
                                <p>Corem ipsum dolor sit amet, consectetur adipiscing elit. In sed nisl elementumty yer scelerisque posuere neque.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="about-page-bottom-box wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <i class="flaticon-coffee-cup"></i>
                            </a>
                            <div class="media-body">
                                <h3><a href="#">Cup Of Coffee</a></h3>
                                <p>Corem ipsum dolor sit amet, consectetur adipiscing elit. In sed nisl elementumty yer scelerisque posuere neque.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Page Area End Here -->
<!-- Award Area Start Here -->
<div class="award1-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="award1-area-box">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <h2 class="about-counter" data-num="5030">5030</h2>
                    <p>Happy Clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="award1-area-box">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <h2 class="about-counter" data-num="2030">2030</h2>
                    <p>Love People</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="award1-area-box">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                    <h2 class="about-counter" data-num="3030">3030</h2>
                    <p>Cup Of Coffee</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="award1-area-box">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h2 class="about-counter" data-num="4320">4320</h2>
                    <p>Chef Recipes</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Award Area End Here -->
<!-- Expert Chefs Area Start Here -->
<div class="expert-chefs-area">
    <img class="img-responsive section-back" src="~/Content/web/img/team/section-back.png" alt="Sestion Back">
    <div class="container">
        <h2 class="title-color">Our Expert Chefs</h2>
        <span class="subtitle-color">Professional Cook Team</span>
        <div class="rc-carousel"
             data-loop="true"
             data-items="3"
             data-margin="30"
             data-autoplay="true"
             data-autoplay-timeout="10000"
             data-smart-speed="2000"
             data-dots="true"
             data-nav="true"
             data-nav-speed="false"
             data-r-x-small="1"
             data-r-x-small-nav="true"
             data-r-x-small-dots="true"
             data-r-small="2"
             data-r-small-nav="true"
             data-r-small-dots="true"
             data-r-medium="3"
             data-r-medium-nav="true"
             data-r-medium-dots="false">
            <div class="expert-chefs-box">
                <a href="#"><img class="img-responsive" src="~/Content/web/img/team/1.jpg" alt="team"></a>
                <div class="expert-chefs-box-content">
                    <span></span>
                    <h3><a href="#">Richard Mark</a></h3>
                    <p>Fish Chef</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="expert-chefs-box">
                <a href="#"><img class="img-responsive" src="~/Content/web/img/team/2.jpg" alt="team"></a>
                <div class="expert-chefs-box-content">
                    <span></span>
                    <h3><a href="#">Laizy Pauel</a></h3>
                    <p>Taste Checker</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="expert-chefs-box">
                <a href="#"><img class="img-responsive" src="~/Content/web/img/team/3.jpg" alt="team"></a>
                <div class="expert-chefs-box-content">
                    <span></span>
                    <h3><a href="#">Mark Li</a></h3>
                    <p>Waiter</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="expert-chefs-box">
                <a href="#"><img class="img-responsive" src="~/Content/web/img/team/1.jpg" alt="team"></a>
                <div class="expert-chefs-box-content">
                    <span></span>
                    <h3><a href="#">Richard Mark</a></h3>
                    <p>Fish Chef</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="expert-chefs-box">
                <a href="#"><img class="img-responsive" src="~/Content/web/img/team/2.jpg" alt="team"></a>
                <div class="expert-chefs-box-content">
                    <span></span>
                    <h3><a href="#">Laizy Pauel</a></h3>
                    <p>Taste Checker</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="expert-chefs-box">
                <a href="#"><img class="img-responsive" src="~/Content/web/img/team/3.jpg" alt="team"></a>
                <div class="expert-chefs-box-content">
                    <span></span>
                    <h3><a href="#">Mark Li</a></h3>
                    <p>Waiter</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Expert Chefs Area End Here -->
<!-- Brand Area Start Here -->
<div class="brand-area">
    <img class="img-responsive section-back" src="~/Content/web/img/brand/back-logo.png" alt="back-logo">
    <div class="container">
        <div class="row">
            <div class="rc-carousel"
                 data-loop="true"
                 data-items="6"
                 data-margin="15"
                 data-autoplay="true"
                 data-autoplay-timeout="10000"
                 data-smart-speed="2000"
                 data-dots="false"
                 data-nav="true"
                 data-nav-speed="false"
                 data-r-x-small="2"
                 data-r-x-small-nav="false"
                 data-r-x-small-dots="true"
                 data-r-x-medium="3"
                 data-r-x-medium-nav="false"
                 data-r-x-medium-dots="true"
                 data-r-small="4"
                 data-r-small-nav="true"
                 data-r-small-dots="false"
                 data-r-medium="6"
                 data-r-medium-nav="true"
                 data-r-medium-dots="false">
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/1.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/2.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/3.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/4.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/5.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/6.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/7.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/8.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/9.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/10.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/1.png" alt="brand"></a>
                </div>
                <div class="brand-area-box">
                    <a href="#"><img src="~/Content/web/img/brand/2.png" alt="brand"></a>
                </div>
            </div>
        </div>
    </div>
</div>
